<!DOCTYPE html>
<html>
<head>
    <title>Projects List</title>
</head>
<body>

    {% if projects %}
    <main>
        <div>
            <h1>My Projects</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                    <tr>
                        <td>{{ project.name }}</td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
    {% else %}
    <main>
        <div>
            <h1>My Projects</h1>
            <p>You are not assigned to any projects</p>
        </div>
    </main>
    {% endif %}

</body>
</html>