<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'show_my_tasks' %}">My tasks</a>
                </li>
                <li>
                    <a href="{% url 'list_projects' %}">My projects</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>

                {% else %}
                <li>
                    <a href="{% url 'login' %}"> Login</a>
                </li>
                <li>
                    <a href="{% url 'signup' %}"> SignUp</a>
                </li>

                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if lists.count > 0 %}
                <table>
                    <thread>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </thread>
                    <tbody>
                        {% for list in lists %}
                        <tr>
                            <td>{{list.name}}</td>
                            <td>{{list.start_date}}</td>
                            <td>{{list.due_date}}</td>
                            <td>{{list.is_completed|yesno:'yes,no,Maybe'}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>

</body>
</html>
